::-webkit-scrollbar {
    width: 0;
    height: 0;
}

::-webkit-scrollbar-thumb {
    background-color: transparent;
}



/*NAVBAR*/




/*
TAMPILAN 1
UNTUK
LANDING PAGE
*/


.landing_page_view_1{
    width:100vw;
    height:100vh;
    padding-top:10vh;
}

.content_landing_page1{
    width:100%;
    height:70%;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
}

.content_landing_page1 p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    color: #447270;
}

.ready{
    margin-top:20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size:45px;
    color: #203D3B;
}

.future{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 45px;
    color: #6C9493;
    transition:2s ease-in-out;
}

.grey_box_input{
    width:300px;
    height:50px;
    background-color:#E7E4E4;
    border-radius:30px;
    display:flex;
    align-items:center;
    justify-content:center;
    margin-top:2%;
}

.email_input{
    height:90%;
    width:70%;
    text-align:center;
    border:none;
    outline:none;
    background-color:#E7E4E4;
    font-size:15px;
    font-family: 'Poppins';
    font-style: normal;
}

.email_input::placeholder{
    font-size:15px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight:600;
    color: #8B8B8B;
}

.btn_getStarted{
    background:#F6E272;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:30px;
    width:100px;
    height:35px;
    box-shadow: 0px 0.5vh 0.5vh rgba(0, 0, 0, 0.25);
    margin-top:2%;
    cursor:pointer;
    text-decoration:none;
}

.btn_getStarted button{
    width:100%;
    height:100%;
    border-radius:30px;
    display:flex;
    align-items:center;
    justify-content:center;
    border:none;
    outline:none;
    background:#F6E272;
    color:#203D3B;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    text-decoration:none;
}

.foot_landing_page1{
    width:100%;
    height:30%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.foot_box1{
    width:270px;
    height:100px;
    background-color:#FFFF;
    border-radius:10vh;
    box-shadow:1vh 1vh 1vh #8B8B8B;
    border: 0.3vh solid rgba(0, 0, 0, 0.1);
    display:flex;
    justify-content:center;
    align-items:center;
}

.foot_box2{
    width:285px;
    height:100px;
    background-color:#FFFF;
    border-radius:10vh;
    box-shadow: 1vh 1vh 1vh rgba(0, 0, 0, 0.25);
    border: 0.3vh solid rgba(0, 0, 0, 0.1);
    display:flex;
    justify-content:center;
    align-items:center;
    margin-right:0.7rem;
    margin-left:0.7rem;
}

.foot_box3{
    width:290px;
    height:100px;
    background-color:#FFFF;
    border-radius:10vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.count_foot_box1{
    width:50%;
    height:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size:25px;
    color: #203D3B;
}

.investor_foot_box1{
    width:50%;
    height:100%;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:center;
}

.investor_foot_box1 h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    color: #447270;
}

.investor_foot_box1 p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #447270;
}

.foot_box_line{
    width:0.8%;
    height:75%;
    background: #203D3B;
    margin-right:8%;
}

/*LANDING PAGE 2
DISCOVER*/

.landing_page_view_2{
    width:100vw;
    height:90vh;
    background-image:url("../Asset/lp2_background.png");
    background-size:cover;
    display:flex;
    justify-content:center;
    align-items:center;
    padding-left:6%;
    padding-right:4%;
    padding-top:4%;
    padding-bottom:3%;
}

.lp2_left{
    width:42%;
    height:100%;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:space-between;
}

.lp2_left a{
    margin-top:-8%;
    width:165px;
    height:50px;
    border-radius:30px;
    background: #F6E272;
    display:flex;
    justify-content:center;
    align-items:center;
    color: #203D3B;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 2.5vh;
    font-size:15px;
    text-decoration-line: underline;
    cursor:pointer;
}

.lp2_right{
    width:52%;
    height:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:flex-start;
    padding-left:4%;
}

.lp2_judul{
    width:100%;
    height:26%;
}

.lp2_judul h1:first-child{
    color:#000000;
}


.lp2_judul h1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size:50px;
    color: #447270;
}

.explore_content{
    margin-top:-4%;
    width:100%;
    height:42%;
    display:flex;
    flex-direction:column;
}

.explore_content hr{
    margin-top:2%;
    margin-bottom:2%;
    width:50%;
    color:#D9D9D9;
}

.explore_content h1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size:40px;
    color: #6C9493;
}

.explore_content p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size:17px;
    color: #000000;
}

.lp2_design_symbol{
    width:545px;
    height:110px;
    background: #F0F0E2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius:50px;
    display:flex;
    align-items:center;
    justify-content:space-around;
    padding-left:2%;
    padding-right:2%;
}

.lp2_design_symbol img{
    width:13%;
    height:60%;
}

.compas_white{
    width:18%;
    height:75%;
    background-color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    border-top-right-radius:50% ;
    border-top-left-radius: 30%;
    border-bottom-right-radius:30%;
    border-bottom-left-radius:50% ;
}

.compas_white img{
    width:70%;
    height:70%;
}

.lp2_right_content{
    margin-top:10%;
    width:100%;
    height:60%;
    width:545px;
    height:270px;
}



/*
LANDING PAGE 3
$1000000+ INVESTED
*/
.landing_page_view_3_parent{
    width:100vw;
    height:100vh;
}

.landing_page_view_3{
    width:100vw;
    height:100vh;
    display:flex;
    position:relative;
}
.landing_page3_left{
    height:100%;
    width:75%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.landing_page3_main{
    width:750px;
    height:500px;
    width:54vw;
    height:89vh;
    background: linear-gradient(180deg, rgba(215, 239, 226, 0.6) 0%, rgba(242, 236, 202, 0.6) 100%);
    border-radius:5vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    margin-left:12px;
    padding-bottom:12px;
    padding-top:12px;
}

.landing_page3_main_content{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:flex-start;
    width:550px;
    height:450px;
}

.landing_page3_main h1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size:70px;
    color: #203D3B;
}

.landing_page3_main h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size:40px;
    color: #6C9493;
}

.landing_page3_main p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 3vh;
    font-size:17px;
    color: #6C9493;
    text-align:justify;
}

.landing_page3_main a{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size:17px;
    text-decoration:underline;
    color: #6C9493;
}

.landing_page3_extraDesign1{
    width:4vw;
    height:76vh;
    background: linear-gradient(180deg, rgba(215, 239, 226, 0.6) 0%, rgba(242, 236, 202, 0.6) 100%);
    border-radius:10vh;
    margin-left:2%;
}
.landing_page3_extraDesign2{
    width:5%;
    height:60%;
    background: linear-gradient(180deg, rgba(215, 239, 226, 0.6) 0%, rgba(242, 236, 202, 0.6) 100%);
    border-radius:10vh;
    margin-left:2%;

}
.landing_page3_value{
    width:100%;
    height:25%;
    width:550px;
    height:100px;
    background:#E9ECDB;
    border-radius:5vh;
    box-shadow: 0 1vh 1vh rgba(0, 0, 0, 0.25);
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
}

.value_section{
    height:85%;
    width:20%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

.value_section img{
    height:90%;
    width:100%;
}

.value_section p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size:13px;
    text-align:center;
    color: #4A4C4D;
    height:10%;
    width:100%;

}

.landing_page3_frame{
    width:450px;
    height:310px;
    display:flex;
}


.landing_page3_right{
    left:63%;
    height:100%;
    width:35vw;
    position:absolute;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    z-index:1;
}

.landing_page3_right p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size:16px;
    color: #6C9493;
    margin-top:-20px;
}

.left_btn_lp3{
    width:10%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.left_btn_lp3 img{
    width:40%;
    height:10%;
    cursor:pointer;
}

.right_btn_lp3{
    width:10%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.right_btn_lp3 img{
    width:40%;
    height:10%;
    cursor:pointer;
}

.landing_page3_pict_frame{
    height:100%;
    width:80%;
    display:flex;
    overflow:hidden;
}

.landing_page3_slider{
    height:100%;
    width:100%;
    display:flex;
    transition:1.5s;
}

.landing_page3_slide{
    width:100%;
    height:100%;
    border-radius:30px;
    display:flex;
    flex-shrink:0;
}

.landing_page3_slide img{
    width:100%;
    height:100%;
    object-fit:contain;
}


.lp3_group_dots{
    height:50px;
    width:350px;
    display:flex;
    align-items:center;
    justify-content:center;
}


.lp3_dots{
    height:20%;
    width:6.5%;
    border-radius:10vh;
    margin-left:5%;
    background: #D9D9D9;
    cursor:pointer;
}

.lp3_dots:first-child{
    background-color: #203D3B;
}

/*
LANDING PAGE 4
INVESTOR
STORIES
*/

.landing_page_view_4{
    width:100vw;
    height:90vh;
    display:flex;
    align-items:center;
    justify-content:center;
    background-image:url("../Asset/stories_bg.png");
    background-size:cover;
    flex-direction:column;
}

.landing_page_view_4 h1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size:45px;
    text-align: center;
    color: #40648F;
    width:100%;
    height:8%;
}

.landing_page_view_4 hr{
    width:75%;
    margin-top:1%;
}

.lp4_investor_stories{
    width:75%;
    height:70%;
    margin-top:1%;
    display:flex;
    overflow:hidden;
}

.lp4_investor_stories_slider{
    width:100%;
    height:100%;
    display:flex;
    transition:1.5s;
}

.lp4_investor_stories_slider1{
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-shrink:0;
}

.lp4_investor_stories_slide{
    width:23vw;
    height:96%;
    position:relative;
    display:flex;
    flex-direction:column;
    justify-content:flex-end;
    margin-left:5%;
}


.lp4_group_dots{
    height:50px;
    width:900px;
    display:flex;
    align-items:center;
    justify-content:center;
    margin-top:0.5%;
}


.lp4_dots{
    height:20%;
    width:4%;
    border-radius:10vh;
    margin-left:5%;
    background: #D9D9D9;
    cursor:pointer;
}

.lp4_dots:first-child{
    background-color: #203D3B;
}

.lp4_white_div_stories{
    width:95%;
    height:75%;
    border-radius:10vh;
    background:white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    display:flex;
    justify-content:center;
    align-items:flex-end;
}

.lp4_customer_pp_container{
    position:absolute;
    width:95%;
    height:42%;
    height:145px;
    display:flex;
    justify-content:center;
    align-items:flex-end;
    top:0;
}

.lp4_customer_pp{
    width:131px;
    height:131px;
    border-radius:50%;
    background: rgba(108, 148, 147, 0.27);
    position:absolute;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:hidden;
    margin-bottom:8px;
}

.lp4_customer_pp img{
    width:94%;
    height:94%;
    object-fit:fill;
    border-radius:50%;
}

.lp4_white_div_content{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
    width:100%;
    height:80%;
}

.lp4_white_div_content h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size:30px;
    color: #40648F;
}

.lp4_white_div_content h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size:22px;
    color: #6A9CD7;
}

.lp4_white_div_content p{
    margin-top:4%;
    width:90%;
    height:40%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    font-size:15px;
    text-align: center;
    color: #0E1721;
}



/*
FOOTER
LANDING PAGE
*/

.footer{
    width:100%;
    height:210px;
    height:35vh;
    background: #203D3B;
    display:flex;
    align-items:center;
    justify-content:flex-start;
    padding-bottom:12px;
}

.footer_left{
    width:60%;
    height:100%;
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin-right:8%;
}

.footer_left h3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bolder;
    font-size:15px;
    color:white;
}

.footer_left a{
    text-decoration:none;
    color:white;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size:11px;
    margin-top:12%;
}

.footer_features{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    height:73%;
    width:fit-content;
    margin-left:10%;
    /*margin-left:10%;*/
}

.footer_helpSupport{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    height:73%;
    width:fit-content;
    /*margin-left:10%;*/

}

.footer_followUs{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    height:73%;
    width:fit-content;
    /*margin-left:10%;*/
}

.footer_right{
    width:45%;
    height:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

.footer_right h1{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bolder;
    font-size:50px;
    color: #FFFFFF;
}

.footer_right p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size:11px;
    color: #FFFFFF;
    margin-top:5px;
}

.footer_white_line{
    width:0.2%;
    height:80%;
    background: white;
    border-radius:5vh;
}

.logo_pitchedin_footer{
    width:50%;
    height:20%;
    width:300px;
    height:50px;
}
