::-webkit-scrollbar {
    width: 0;
    height: 0;
}

::-webkit-scrollbar-thumb {
    background-color: transparent;
}

body{
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    background:#F1F1F1;
}


header{
    width:100%;
    height:10%;
}


/*
CSS
FOR
First Page
*/
.first_page{
    width:100%;
    height:fit-content;
    margin-top:20px;
    margin-bottom:20px;
    display:flex;
    flex-direction:column;
}

.my_post{
    height:fit-content;
    width:100%;
    display:flex;
    justify-content:center;
}
.my_post_content{
    width:880px;
    /*
    height:300px;*/
    height:fit-content;
    background:white;
    border-radius:30px;
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.25);
    padding-top:1rem;
    padding-bottom:1rem;
    padding-left:2rem;
    padding-right:1rem;
    display:flex;
    align-items:center;
}
.my_post_content_left{
    display:flex;
    flex-direction:column;
    height:100%;
    width:800px;
    overflow-x:hidden;
}
.my_post_content_right{
    width:40px;
    height:100%;
    /*
    height:300px;*/
    display:flex;
    align-items:center;
    justify-content:center;
}
.my_post_content_right img{
    cursor:pointer;
}
.my_post_blank{
    width:300px;
    margin-left:1rem;
    display:flex;
    align-items:center;
    justify-content:center;
}
.post_content_judul{
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:100%;
}
.post_content_judul h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    color: #203D3B;
}
.post_judul{
    display:flex;
    justify-content:space-between;
    margin-top:10px;
    margin-bottom:10px;
}
.post_judul h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    color: #447270;

}
.post_content_p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #6C9493;
}
.my_post_content_left ul{
    margin-top:10px;
    margin-bottom:10px;
    margin-left:1rem;
    display:flex;
    flex-direction:column;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #6C9493;
}

.my_post_content_img{
    width:100%;
    height:fit-content;
    display:flex;
    margin-top:10px;
    margin-bottom:5px;
}


.edit_post{
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.edit_post img{
    width:1.3rem;
    height:1.3rem;
    cursor:pointer;
}
.edit_post h2{
    margin-left:0.5rem;
    width:100%;
    cursor:pointer;
}
.garis_post{
    color: #203D3B;
    background:#203D3B;
    margin-top:2px;
    margin-bottom:2px;
    height:0.13rem;
    width:100%;
}
.post_see_more{
    width:100%;
    height:30px;
    display:flex;
    align-items:center;
    justify-content: flex-end;
}
.post_see_more p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #6C9493;
    text-decoration:underline;
    cursor:pointer;
}





.my_experience{
    height:fit-content;
    width:100%;
    display:flex;
    justify-content:center;
    margin-top:20px;
}
.my_experience_content{
    width:880px;
    /*
    height:300px;*/
    max-height:fit-content;
    background:white;
    border-radius:30px;
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.25);
    display:flex;
    padding-top:1rem;
    padding-bottom:1rem;
    padding-left:2rem;
    padding-right:1rem;
}
.my_experience_content_left{
    display:flex;
    flex-direction:column;
    height:100%;
    width:800px;
}
.my_experience_content_right{
    width:40px;
}
.my_experience_blank{
    width:300px;
    margin-left:1rem;
}
.experience_content_judul{
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:100%;
}
.experience_content_judul h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    color: #203D3B;
}
.experience_judul{
    display:flex;
    justify-content:space-between;
    margin-top:10px;
    margin-bottom:10px;
}
.experience_judul h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    color: #447270;

}
.experience_content_p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #6C9493;
}
.my_experience_content_left ul{
    margin-top:10px;
    margin-bottom:10px;
    margin-left:1rem;
    display:flex;
    flex-direction:column;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    color: #6C9493;
}
.edit_experience{
    display:flex;
    align-items:center;
    justify-content:space-between;
}
.edit_experience img{
    width:1.3rem;
    height:1.3rem;
    cursor:pointer;
}
.edit_experience h2{
    margin-left:0.5rem;
    width:100%;
    cursor:pointer;
}
.garis_experience{
    color: #203D3B;
    background:#203D3B;
    margin-top:2px;
    margin-bottom:2px;
    height:0.13rem;
    width:100%;
}
.editable {
    border: none;
    /*outline:none;*/
    background-color: transparent;
    cursor: pointer;
}


/*
CSS
FOR
SavedPost2
*/

.back{
    z-index:1;
    height:3rem;
    width:100%;
    display:flex;
    padding-left:1rem;
    justify-content:center;
    align-items:center;
}

.back_content{
    height:100%;
    width:1230px;
    display:flex;
    justify-content:flex-start;
    align-items:center;
}

.back_btn{
    cursor:pointer;
    width:1.5rem;
    height:1.5rem;
}


.saved_post2{
    z-index:2;
    display:flex;
    width:100%;
    justify-content:center;
    align-items:flex-start;
    margin-top:30px;
    margin-bottom:30px;
}


.saved_post2_right{
    width:900px;
    height:fit-content;
    max-height:79vh;
    overflow-y:scroll;
    padding-top:1rem;
    padding-bottom:1rem;
    padding-left:2.5rem;
    padding-right:2.5rem;
    background: #FFFFFF;
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.25);
    border-radius:30px;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:flex-start;
    margin-left:1rem;
}

.saved_post2_right h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: #447270;
}

.garis_judul_page2{
    color: #203D3B;
    background:#203D3B;
    margin-top:2px;
    margin-bottom:2px;
    height:0.2rem;
    width:100%;
}

.saved_post2_right_content{
    width:100%;
    height:fit-content;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
}

.container_right2_judul{
    display:flex;
    justify-content:space-between;
    align-items:center;
    width:100%;
}

.container_right2_judul h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #447270;
}


.remove{
    display:flex;
    align-items:center;
}

.remove img{
    width:1.5rem;
    height:1.5rem;
    cursor:pointer;
}

.remove h2{
    margin-left:1rem;
    width:100%;
    cursor:pointer;
}

.content_frame{
    width:267px;
    height:278px;
    margin-top:10px;
}

.content_frame img{
    width:267px;
    height:278px;
}


/*
CSS
FOR
SavedPost2
MODAL
*/


.explore_left{
    height:fit-content;
    width:fit-content;
}

.user_profile1{
    width: 280px;
    height: 320px;
    background: #FFFFFF;
    box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-between;
    padding:1rem;
}

.color_circle_pp{
    position:relative;
    background: linear-gradient(180deg, #E2FFFD 0%, #FCF6D8 97.4%);
    width:80px;
    height:80px;
    border-radius:100%;
    display:flex;
    align-items:center;
    justify-content:center;
}

.white_circle_pp{
    background:white;
    width:76px;
    height:76px;
    border-radius:100%;
    display:flex;
    align-items:center;
    justify-content:center;
}

.white_circle_pp img{
    border-radius:100%;
    width:74px;
    height:74px;
}

.online_status{
    height:16px;
    width:16px;
    background:white;
    border-radius:100%;
    position:absolute;
    margin-top:65%;
    margin-left:65%;
    display:flex;
    align-items:center;
    justify-content:center;
}

.online_green{
    height:14px;
    width:14px;
    background:#3EC786;
    border-radius:100%;
    margin-left:1px;
    margin-top:1px;
}

.user_data{
    width:100%;
    height:fit-content;
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-top:-20px;
}

.user_data h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #447270;
}

.user_data p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 18px;
    color: #6C9493;
}

.user_profile1 p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #6C9493;
    text-align:center;
}

.connect_and_chat{
    display:flex;
}

.connect_and_chat img{
    width:22px;
    height:22px;
    margin-left:1rem;
}
.connect_and_chat a {
    text-decoration: none;
}

.connect{
    background:#6C9493;
    display:flex;
    align-items:center;
    justify-content:center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 21px;
    color: #F1F1F1;
    height:22px;
    width:85px;
    border-radius:20px;
}

.bottom_explore_left{
    display:flex;
    flex-direction:column;
    width: 280px;
    height:fit-content;
    height:100px;
    overflow-wrap:break-word;
    margin-top:0.3rem;
}

.bottom_explore_left ul{
    display:flex;
    width:280px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 18px;
    color: #6C9493;
    overflow-wrap:break-word;
    justify-content:center;
}

.bottom_explore_left ul li{
    overflow-wrap:break-word;
    margin-left:25px;
}

.saved_post2_modal{
    width:100vw;
    height:100vh;
    background: rgba(0, 0, 0, 0.51);
    z-index:999;
    display:flex;
    align-items:center;
    justify-content:center;
    position:absolute;
    top:0;
    display:none;
    pointer-events:none;
}

.saved_post2_modal_content{
    width:700px;
    height:500px;
    background:white;
    border-radius:20px;
    display:flex;
}

.modal_right{
    width:54%;
    height:100%;
    border-right:1px solid #D9D9D9;
    display:flex;
    justify-content:center;
    align-items:center;
}

.modal_right img{
    width: 100%;
    height:80%;
}

.modal_left{
    width:46%;
    height:100%;
    display:flex;
    flex-direction:column;
}

.modal_left_caption{
    width:100%;
    height:29%;
    position:relative;
}

.modal_close{
    position:absolute;
    width:20px;
    height:20px;
    right: 10px;
    top: 10px;
    cursor:pointer;
}

.modal_left_comment{
    width:100%;
    height:71%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    border-top:1px solid #D9D9D9;
}

.modal_left_comment h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 30px;
    color: #447270;
    display:flex;
    justify-content:center;
    align-items:center;
}

.modal_like_dkk{
    width:100%;
    height:20%;
    /*height:5rem;*/
    margin-top:0.4rem;
    display:flex;
    justify-content:flex-end;
    align-items:center;
    flex-direction:row;
    margin-bottom:0.4rem;
}

.heart{
    height:15px;
    width:15px;
}

.comment{
    height:15px;
    width:15px;
}

.save{
    width:18px;
    height:18px;
}

.modal_like_dkk img{
    margin-right:1.5rem;
}

.modal_pp_color{
    width:42px;
    height:42px;
    border-radius:50%;
    background: linear-gradient(180deg, #E2FFFD 0%, #FCF6D8 97.4%);
    display:flex;
    justify-content:center;
    align-items:center;

}

.modal_pp_white{
    width:39px;
    height:39px;
    border-radius:50%;
    background:white;
    display:flex;
    justify-content:center;
    align-items:center;
}

.modal_pp_white img{
    width:38.5px;
    height:38.5px;
    border-radius:50%;
}

.modal_caption{
    margin-top:0.4rem;
    margin-left:0.5rem;
    margin-bottom:0.4rem;
}

.modal_caption_content{
    display:flex;
    justify-content:center;
    align-items:flex-start;
}

.modal_pp_caption_content_data{
    margin-left:0.5rem;

    overflow-wrap:break-word;
    width:260px;
}

.modal_pp_caption_content_data h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    color: #447270;
}

.modal_pp_caption_content_data p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    color: #6C9493;
}
.tags{
}




/*
CSS
FOR
MESSAGE
*/

.message{
    width:290px;
    height:55px;
    position:fixed;
    bottom:0;
    right:37px;
    background:white;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    display:flex;
    justify-content:center;
    align-items:center;
    padding-left:0.5rem;
    padding-right:1rem;
    pointer-events:auto;
    box-shadow: -6px -4px 4px rgba(0, 0, 0, 0.25);
    z-index:5;
}

.message_up{
    pointer-events:none;
    width:290px;
    height:400px;
    /*
    height:fit-content;*/
    position:fixed;
    bottom:0;
    right:37px;
    background:white;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
    /*margin-left:965px;*/
    display:none;
    align-items:center;
    flex-direction:column;
    padding-left:0.5rem;
    padding-right:0.5rem;
    padding-top:0.2rem;
    box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
    overflow-y:scroll;
    z-index:5;
}

.message_up hr{
    width:100%;
    margin-top:0.5rem;
    margin-bottom:0.5rem;
}

.message_data{
    display:flex;
    align-items:center;
    width:275px;
}

.message_data h3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #203D3B;
    margin-left:1rem;
}

.color_pp_message{
    width: 48px;
    height: 48px;
    background: linear-gradient(180deg, #E2FFFD 0%, #FCF6D8 97.4%);
    border-radius:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    position:relative;
    margin-left:5px;
}

.white_pp_message{
    width:44px;
    height:44px;
    border-radius:100%;
    background:white;
    display:flex;
    align-items:center;
    justify-content:center;
}

.white_pp_message img{
    width:40px;
    height:40px;
    border-radius:100%;
}

.message_pp_online_status{
    border-radius:50%;
    background:white;
    width:13px;
    height:13px;
    position:absolute;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-left:33px;
    margin-top:30px;
}

.message_pp_online_green{
    border-radius:50%;
    background:#3EC786;
    width:10px;
    height:10px;
}

.message_menu{
    height:41px;
    width:130px;
    display:flex;
    align-items:center;
    justify-content:flex-end;
}

.message_menu img{
    margin-left:0.4rem;
    margin-right:0.4rem;
    cursor:pointer;
}

#menu_edit{
    width:1rem;
    height:1rem;
}

#menu_up{
    width:0.8rem;
    height:0.5rem;
}

#menu_three{
    height:0.4rem;
    width:1.2rem;
}

#menu_down{
    height:0.6rem;
    width:0.8rem;
}

.message_search_form{
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    height:fit-content;
    margin-top:0.5rem;
    margin-bottom:0.5rem;
}

.message_search_form img{
    width:20px;
    height:20px;
    margin-left:0.2rem;
}

.message_search_bar{
    background:#F1F1F1;
    width:240px;
    height:34px;
    border-radius:30px;
    margin-right:0.2rem;
    display:flex;
    align-items:center;
    justify-content:flex-start;
    padding-top:1rem;
    padding-left:1rem;
    padding-bottom:1rem;
}

.message_search_bar img{
    width:1rem;
    height:1rem;
    margin-left:0.05rem;
}

.message_search_bar input{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    color: #6C9493;
    border:none;
    outline:none;
    background:#F1F1F1;
    margin-left:0.5rem;
    width:180px;
}

.message_search_bar input::placeholder{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    color: #6C9493;
}

.user_chat{
    height:92px;
    width:100%;
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.user_chat_data{
    height:100%;
    width:fit-content;
    display:flex;
}

.user_chat_name{
    height:100%;
    width:120px;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
    justify-content:flex-start;
    margin-left:0.3rem;
}

.user_chat_name h3{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 17px;
    color: #203D3B;
    margin-top:0.5rem;
}

.user_chat_name p{
    margin-top:0.5rem;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    text-align:justify;
    color: #6C9493;
}

.color_pp_user_chat{
    width:70px;
    height:70px;
    background: linear-gradient(180deg, #E2FFFD 0%, #FCF6D8 97.4%);
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
}

.white_user_chat{
    width:64px;
    height:64px;
    background:white;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
}

.white_user_chat img{
    width:61px;
    height:61px;
    border-radius:50%;
}

.date_notif{
    height:100px;
    width:120px;
    display:flex;
    flex-direction:column;
    align-items:flex-end;
    justify-content:flex-start;
    margin-right:0.1rem;
}

.date_notif h2{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 15px;
    color: #203D3B;
    margin-top:0.85rem;
}

.notif{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 12px;
    color: #FFFFFF;
    width:22px;
    height:22px;
    background: #447270;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:1rem;
}

.message_online_status{
    height:15px;
    width:15px;
    background:white;
    border-radius:100%;
    position:absolute;
    margin-top:65%;
    margin-left:65%;
    display:flex;
    align-items:center;
    justify-content:center;
}

.message_online_green{
    height:12px;
    width:12px;
    background:#3EC786;
    border-radius:100%;
}
